<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"]</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/price-range.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
</head>
<body>
    <header id="header">
        <div class="header-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 clearfix">
                        <div class="logo pull-left">
                            <a href="@Context.Request.Scheme://@Context.Request.Host"><img src="~/images/home/logo.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-8 clearfix">
                        <div class="shop-menu clearfix pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="urun-detay.html"><i class="fa fa-crosshairs"></i>Ürün Detay</a></li>
                                <li><a href="checkout.html"><i class="fa fa-crosshairs"></i>Ödeme</a></li>
                                <li><a href="sepeteEkle.html"><i class="fa fa-shopping-cart"></i>Sepetim</a></li>
                                <li><a href="favoriler.html"><i class="fa fa-star"></i>Favoriler</a></li>
                                <li><a href="iletisim.html"><i class="fa fa-envelope"></i>İletişim</a></li>
                                <li><a href="login.html"><i class="fa fa-sign-in"></i>Giriş</a></li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div>
                        <div class="search_box pull-right" style="float: right;">
                            <input type="text" placeholder="Ara" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer id="footer">
        <div class="footer-widget">
            <div class="container">
                <div class="row" style="display: flex;justify-content:center;">
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>SERVİSLER</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="">Yardım</a></li>
                                <li><a href=""><a href="iletisim.html">Bize Ulaşın</a></a></li>
                                <li><a href="">Sipariş Durumu</a></li>
                                <li><a href="">Yer Değiştir</a></li>
                                <li><a href="">Sık Sorulan Sorular</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>POLİTİKALAR</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="">Kullanım Şartları</a></li>
                                <li><a href="">Gizlilik Politikası</a></li>
                                <li><a href="">Geri Ödeme Politikası</a></li>
                                <li><a href="">Fatura Sistemi</a></li>
                                <li><a href="">Kupon Sistemi</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!--/Footer-->

    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/price-range.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>