@model ECOMMERCE.WEBUI.Models.ViewModels.FavouriteViewModel

<div class="row">
    <div class="col-sm-8 col-sm-offset-2 ">
        <table class="table table-hover">
            <thead>
            <th class="text-center">Ürün Adı</th>
            <th class="text-center">Ürün Fiyatı</th>
            <th class="text-center">Favorilerden Kaldır</th>
            </thead>

            <tbody>
                <tr>
                    <td class="text-center" style="width: 120px" id="urunIsmi">iPhone X</td>
                    <td class="text-center" style="width: 120px" id="urunFiyati">12.000 TL</td>
                    <td class="text-center" style="width: 120px">
                        <a href="#" title="Favorilerden Kaldır" id="favorilerdenKaldir"><i class="fa fa-trash-o" aria-hidden="true" style="font-size: 25px; color: black"></i></a>
                    </td>
                </tr>
            </tbody>

            <tfoot>
            <th colspan="2" class="text-right">
                Toplam Ürün : <span id="favorilerAdetText">X Adet</span>
            </th>
            <th colspan="4" class="text-right">
                Toplam Tutar : <span id="favorilerTutarText">X TL</span>
            </th>
            </tfoot>

        </table>
    </div>
</div>



