@{
    ViewData["Title"] = "Okan Elektronik";
}
@model HomeViewModel

<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">

                                <h2>Free E-Commerce Template</h2>
                                <p>Çılgın Yaz indirimlerini görmek için devam edin.</p>
                                <button type="button" class="btn btn-default get">Ürünlere Git</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/home/pc-banner.gif" class="girl img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h2>100% Responsive Design</h2>
                                <p>%60'a varan indirimler için devam edin.</p>
                                <button type="button" class="btn btn-default get">Fırsatları Kaçırma</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/home/telefon-banner.gif" class="girl img-responsive" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h2>KARNE HEDİYESİ YAĞMURU</h2>
                                <p>Karne Hediyesi bizden alınır. Dev indirimleri görmek için devam edin.</p>
                                <button type="button" class="btn btn-default get">Ürünlere Git</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/home/telefon-slider.jpg" class="girl img-responsive" alt="" />
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>KATEGORİ</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        @foreach (var category in Model.Categories)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#@category.Id">
                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            <a href="@category.Id">@category.Name</a>
                                        </a>
                                    </h4>
                                </div>
                                <div id="@category.Id" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            @foreach (var subCategory in category.SubCategories)
                                            {
                                                <li><a href="#">@subCategory.Name</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>

                    <div class="shipping text-center">
                        <!--shipping-->
                        <img class="img-fluid" src="images/home/deneme.gif" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">ÜRÜNLER</h2>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img class="img-fluid" src="images/home/mac.png" alt="" />
                                    <h2>10000 TL</h2>
                                    <p>iPhone</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Favorilere Ekle</a></li>
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Karşılaştır</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img class="img-fluid" src="images/home/mac.png" alt="" />
                                    <h2>3100 TL</h2>
                                    <p>Huawei P20</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Favorilere Ekle</a></li>
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Karşılaştır</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img class="img-fluid" src="images/home/mac.png" alt="" />
                                    <h2>3100 TL</h2>
                                    <p>Huawei P20</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Favorilere Ekle</a></li>
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Karşılaştır</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img class="img-fluid" src="images/home/mac.png" alt="" />
                                    <h2>3100 TL</h2>
                                    <p>Huawei P20</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Favorilere Ekle</a></li>
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Karşılaştır</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img class="img-fluid" src="images/home/mac.png" alt="" />
                                    <h2>3100 TL</h2>
                                    <p>Huawei P20</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Favorilere Ekle</a></li>
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Karşılaştır</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img class="img-fluid" src="images/home/mac.png" alt="" />
                                    <h2>3100 TL</h2>
                                    <p>Huawei P20</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Favorilere Ekle</a></li>
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Karşılaştır</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img class="img-fluid" src="images/home/mac.png" alt="" />
                                    <h2>3100 TL</h2>
                                    <p>Huawei P20</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Favorilere Ekle</a></li>
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Karşılaştır</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img class="img-fluid" src="images/home/mac.png" alt="" />
                                    <h2>3100 TL</h2>
                                    <p>Huawei P20</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Favorilere Ekle</a></li>
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Karşılaştır</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img class="img-fluid" src="images/home/Oppo.png" alt="" />
                                    <h2>2600 TL</h2>
                                    <p>Oppo</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Favorilere Ekle</a></li>
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Karşılaştır</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>