
@{
    Layout = null;
}
@model ResponseViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Activation</title>
</head>
<body>
    <center>
        @if (!Model.IsSuccess)
        {
            @Model.Message;
            return;
        }

        Üyeliğiniz aktif edilmiştir.Giriş için<a href="@Context.Request.Scheme://@Context.Request.Host/Login" style="cursor: pointer;"> tıklayınız.. </a>
    </center>

</body>
</html>
