
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Activation</title>
</head>
<body>
    Üyeliğiniz aktif edilmiştir. Giriş için <a href="@Context.Request.Scheme://@Context.Request.Host/Login" style="cursor: pointer;">tıklayınız..</a>
</body>
</html>
